#marvel-logo{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero{
    #black-panther{
        width: 300px;
    }

    #gambit{
        width: 284px;
    }

    #iron-man{
        width: 300px;
    }
}

