body{
    background-image: url("../image/galaxy.jpg");
    
}


#marvel-logo{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.choose{
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    font-family: Impact,fantasy;
    color: white;
}

.hero{
    margin-top:50px;
    
}

#black-panther{
    width: 300px;
    height: 445px;
    margin-left: 100px;
    margin-right:90px;
}

#gambit{
    width: 300px;
    height: 445px;
    margin-left: 100px;
    margin-right:90px;
}

#iron-man{
    width: 300px;
    height: 445px;
    margin-left: 100px;
    margin-right:90px;
}

.hero-pic{
    width: 300px;
    height: 445px;
    float: left;
    padding: 0 40px 0 50px;
}



.content{
    color: white;
    font-size: 100px;
    text-align: justify;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.introduction{
    color:white;
    font-family:gadugi;
}

.publication{
    color:white;
    font-family:gadugi;
}

.word-with-background{
    color:white;
    font-size: 30px;
    font-family: bahnschrift semibold;
}

.yellow-colour{
    color: yellow;
}

.song{
    color: white;
}